<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961349068661-smvmpil8ckddhjkehc9l2k06r522bn4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961349068661-smvmpil8ckddhjkehc9l2k06r522bn4o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>961349068661-0fjbomrve552u4vtpmi8gvknstn7btiu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdgXxICK_0qRcQGjMJ6jwYHGPGoL6TKus</string>
	<key>GCM_SENDER_ID</key>
	<string>961349068661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.majan.app</string>
	<key>PROJECT_ID</key>
	<string>dar-al-safwa-uae</string>
	<key>STORAGE_BUCKET</key>
	<string>dar-al-safwa-uae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961349068661:ios:b7658904bc39f7d3e8553c</string>
	<key>DATABASE_URL</key>
	<string>https://dar-al-safwa-uae-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>